h1 {
    font-family: "helvetica", "san-serif";
    text-align: center;
    font-size: 80px;
    font-weight: 600;
  }
  span.g {
    color: #4285F4;
  }
  span.o {
    color: #DB4437;
  }
  span.oo {
    color: #F4B400;
  }
  span.l {
    color: #0F9D58;
  }
  
  a {
    display: block-inline;
  }
  .footer.left{
    display: block;
    text-align: left;
  }
  .footer.right{
    display: block;
    text-align: right;
  }