h1 {
    font-family: "helvetica", "san-serif";
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    padding: 0;
    margin: 10px;
  }
  a.toprighta {
    position: fixed;
    right: 250px;
    top: 0;
  }
  a.toprightb {
    position: fixed;
    right: 180px;
    top: 0;
  }
  img.toprightc {
    position: fixed;
    right: 0;
    top: 0;
    width: 180px;
    height:45px;
  }
  .search {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .search input {
    height: 25px;
    width: 450px;
  }
  button {
    font-family: "helvetica", "san-serif";
    font-size: 13px;
    margin: 15;
    padding: 9px 15px;
    background-color: #F5F5F5;
    color: #606060;
    font-weight: bold;
    border: none;
  }
  span.g {
    color: #4285F4;
  }
  span.o {
    color: #DB4437;
  }
  span.oo {
    color: #F4B400;
  }
  span.l {
    color: #0F9D58;
  }
  .footer {
    position: fixed;
    bottom: 0;
    background-color: #F5F5F5;
    padding: 20px;
    width: 100%;
  }
  a.lefta {
    position: fixed;
    left: 0;
    bottom: 0;
  }
  a.leftb {
    position: fixed;
    left: 107px;
    bottom: 0;
  }
  a.righta {
    position: fixed;
    right: 144px;
    bottom: 0;
  }
  a.rightb {
    position: fixed;
    right: 77px;
    bottom: 0;
  }
  a.rightc {
    position: fixed;
    right: 0;
    bottom: 0;
  }
  a {
    color: #484848;
    text-decoration: none;
    padding: 10px;
    position: relative;
  }
  a:hover {
    text-decoration: underline;
  }